<?xml version="1.0"?>
<configuration>
    <appSettings/>
  <connectionStrings>
	<clear/>

	  <add name="DSN" connectionString="server=localhost;database=postgis_in_action;Port=5444;User Id=postgres;password=test"/>
	 
  </connectionStrings>
    <system.web>
        <compilation debug="true" />
		<customErrors mode="Off" />
		<pages validateRequest="false" />
		<httpRuntime requestValidationMode="2.0" />
    </system.web>
</configuration>


